

.friends{
    color: white;
    margin-top: 100px;
    font-size: xx-large;
  
  }
  
  .friends img{
    display: flex;
    margin: 10px;
    width: 30px;
    border-radius: 50px;
    float: left;
    position: relative;
    top: -100px;

  }

